target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/misc.xml
.idea/workspace.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/

/.idea/compiler.xml
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/vcs.xml
/backend/src/main/resources/public/favicon.ico
/backend/src/main/resources/public/assets/img2-54187940.jpg
/backend/src/main/resources/public/index.html
/backend/src/main/resources/public/assets/index-4b418af4.css
/backend/src/main/resources/public/assets/index-a80e6364.js
